.transitions
    .text-block
        p.header Quick review of transitions
        p.double-indent -webkit-transition:
        p.double-indent -webkit-transition-delay:
        p.double-indent -webkit-transition-duration:
        p.double-indent -webkit-transition-timing-function:
        p.double-indent -webkit-transition-property:
        p.double-indent transition: property || duration || timing-function || delay [, ...];
    .support