.transitions
    .text-block
        p.header Quick review of transitions
        p.double-indent transition:
        p.double-indent transition-delay:
        p.double-indent transition-duration:
        p.double-indent transition-timing-function:
        p.double-indent transition-property:
        p.double-indent transition: property || duration || timing-function || delay [, ...];
    .support