.svg-attr
    .text-block
        .header SVG Animation Attributes SMIL
        p Synchronized Multimedia Integration Language
        br
        p.sub-heading #[span.orange Nest or reference]
        p.indent rect id="cool_shape" ... /
        p.indent animate xlink:href="#cool_shape" ... /
        br
        p.sub-heading #[span.orange Attributes]
        p.indent attributeName - one attribute at a time!
        p.indent attributeType - many shared css properites!
        br
        p.indent circle id="my-circle" r="30" cx="50" cy="50" fill="orange" /

        p.indent #[span.text-beige />]< #[span.purple animate]
        p.double-indent #[span.text-beige />] #[span.purple xlink:href="#my-circle"]
        p.double-indent #[span.text-beige />] #[span.purple attributeName="cx"]
        p.double-indent #[span.text-beige />] #[span.purple from="50"]
        p.double-indent #[span.text-beige />] #[span.purple to="450"]
        p.double-indent #[span.text-beige />] #[span.purple dur="1s"]
        p.double-indent #[span.text-beige />] #[span.purple begin="click"]
        p.double-indent #[span.text-beige />] #[span.purple fill="freeze"]
        p.double-indent #[span.text-beige />] #[span.purple id="rect-anim" /] >
        br
        br
        br
        br
        p.indent Begin - way cool!
        p.double-indent begin="click" - events!
        p.double-indent begin="2s" - delay of 2 seconds
        p.double-indent begin="circ-anim.repeat(2)" - animate after circ-anime repeats twice
        p.indent Clock value
        p.double-indent begin="click + 20 seconds"
        p.double-indent "10min" or "01:33"
        br
        p.sub-heading #[span.orange keyTimes]
        p to specify keyFrames
        p.indent     #[span.text-beige />]< #[span.purple animate]
        p.double-indent #[span.text-beige />] #[span.purple xlink:href="#orange-circle"]
        p.double-indent #[span.text-beige />] #[span.purple attributeName="cx"]
        p.double-indent #[span.text-beige />] #[span.purple from="50"]
        p.double-indent #[span.text-beige />] #[span.purple to="450"]
        p.double-indent #[span.text-beige />] #[span.purple dur="2s"]
        p.double-indent #[span.text-beige />] #[span.purple begin="click"]
        p.double-indent #[span.text-beige />] #[span.purple values="50; 490; 350; 450"]
        p.double-indent #[span.text-beige />] #[span.purple keyTimes="0; 0.5; 0.8; 1"]
        p.double-indent #[span.text-beige />] #[span.purple fill="freeze"]
        p.double-indent #[span.text-beige />] #[span.purple id="circ-anim" />]
        br
        br
        br
        p.sub-heading Credit
        a.indent(href="https://css-tricks.com/guide-svg-animations-smil/") CSS-Tricks

    .svg-example
        <svg version="1.1" width="320" height="320" viewBox="0 0 320 320" fill="none" stroke="#000" stroke-linecap="round" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
        <path id="r1">
        <animate id="p1" attributeName="d" values="m160,160l0,0 0,0;m130,110l30,-17 30,17;m130,60l30,-17 30,17;m160,20l0,0 0,0" dur="6s" repeatCount="indefinite"/>
        <animate attributeName="stroke-width" values="0;4;4;4;0" dur="6s" repeatCount="indefinite" begin="p1.begin"/>
        </path>
        <path id="r2">
        <animate attributeName="d" values="m160,160l0,0 0,0;m130,110l30,-17 30,17;m130,60l30,-17 30,17;m160,20l0,0 0,0" dur="6s" repeatCount="indefinite" begin="p1.begin+1s"/>
        <animate attributeName="stroke-width" values="0;4;4;4;0" dur="6s" repeatCount="indefinite" begin="p1.begin+1s"/>
        </path>
        <path id="r3">
        <animate attributeName="d" values="m160,160l0,0 0,0;m130,110l30,-17 30,17;m130,60l30,-17 30,17;m160,20l0,0 0,0" dur="6s" repeatCount="indefinite" begin="p1.begin+2s"/>
        <animate attributeName="stroke-width" values="0;4;4;4;0" dur="6s" repeatCount="indefinite" begin="p1.begin+2s"/>
        </path>
        <path id="r4">
        <animate id="p1" attributeName="d" values="m160,160l0,0 0,0;m130,110l30,-17 30,17;m130,60l30,-17 30,17;m160,20l0,0 0,0" dur="6s" repeatCount="indefinite" begin="p1.begin+3s"/>
        <animate attributeName="stroke-width" values="0;4;4;4;0" dur="6s" repeatCount="indefinite" begin="p1.begin+3s"/>
        </path>
        <path id="r5">
        <animate attributeName="d" values="m160,160l0,0 0,0;m130,110l30,-17 30,17;m130,60l30,-17 30,17;m160,20l0,0 0,0" dur="6s" repeatCount="indefinite" begin="p1.begin+4s"/>
        <animate attributeName="stroke-width" values="0;4;4;4;0" dur="6s" repeatCount="indefinite" begin="p1.begin+4s"/>
        </path>
        <path id="r6">
        <animate attributeName="d" values="m160,160l0,0 0,0;m130,110l30,-17 30,17;m130,60l30,-17 30,17;m160,20l0,0 0,0" dur="6s" repeatCount="indefinite" begin="p1.begin+5s"/>
        <animate attributeName="stroke-width" values="0;4;4;4;0" dur="6s" repeatCount="indefinite" begin="p1.begin+5s"/>
        </path>
        </defs>
        <use xlink:href="#r1"/>
        <use xlink:href="#r1" transform="rotate(60 160 160)"/>
        <use xlink:href="#r1" transform="rotate(120 160 160)"/>
        <use xlink:href="#r1" transform="rotate(180 160 160)"/>
        <use xlink:href="#r1" transform="rotate(240 160 160)"/>
        <use xlink:href="#r1" transform="rotate(300 160 160)"/>
        <use xlink:href="#r2" transform="rotate(30 160 160)"/>
        <use xlink:href="#r2" transform="rotate(90 160 160)"/>
        <use xlink:href="#r2" transform="rotate(150 160 160)"/>
        <use xlink:href="#r2" transform="rotate(210 160 160)"/>
        <use xlink:href="#r2" transform="rotate(270 160 160)"/>
        <use xlink:href="#r2" transform="rotate(330 160 160)"/>
        <use xlink:href="#r3"/>
        <use xlink:href="#r3" transform="rotate(60 160 160)"/>
        <use xlink:href="#r3" transform="rotate(120 160 160)"/>
        <use xlink:href="#r3" transform="rotate(180 160 160)"/>
        <use xlink:href="#r3" transform="rotate(240 160 160)"/>
        <use xlink:href="#r3" transform="rotate(300 160 160)"/>
        <use xlink:href="#r4" transform="rotate(30 160 160)"/>
        <use xlink:href="#r4" transform="rotate(90 160 160)"/>
        <use xlink:href="#r4" transform="rotate(150 160 160)"/>
        <use xlink:href="#r4" transform="rotate(210 160 160)"/>
        <use xlink:href="#r4" transform="rotate(270 160 160)"/>
        <use xlink:href="#r4" transform="rotate(330 160 160)"/>
        <use xlink:href="#r5"/>
        <use xlink:href="#r5" transform="rotate(60 160 160)"/>
        <use xlink:href="#r5" transform="rotate(120 160 160)"/>
        <use xlink:href="#r5" transform="rotate(180 160 160)"/>
        <use xlink:href="#r5" transform="rotate(240 160 160)"/>
        <use xlink:href="#r5" transform="rotate(300 160 160)"/>
        <use xlink:href="#r6" transform="rotate(30 160 160)"/>
        <use xlink:href="#r6" transform="rotate(90 160 160)"/>
        <use xlink:href="#r6" transform="rotate(150 160 160)"/>
        <use xlink:href="#r6" transform="rotate(210 160 160)"/>
        <use xlink:href="#r6" transform="rotate(270 160 160)"/>
        <use xlink:href="#r6" transform="rotate(330 160 160)"/>
        </svg>
