html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css", type="text/css")
    body
       #background
            include square/_square
            include transitions/transitions
            include transforms/transforms
            include keyframe/keyframe
            include pac-man/_pacman
            include svg/svg
            include svg-animation/svg-ani
            include svg-attr/svg-attr
            include canvas/canvas
       .task-bar
           .button(className="transitions") Quick Review
           .button(className="transforms") Transforms
           .button(className="square") 3D Animate a cube
           .button(className="keyframes") Keyframes
           .button(className="pacman") Pac Man
           .button(className="svgpos") SVG
           .button(className="svg-attrpos") SVG Animation Attributes
           .button(className="svganipos") SVG Animation
           .button(className="canvaspos") Canvas


    script(src="../globals.js")
    script(src="../pac-man/utils.js")
    script(src="../pac-man/element.js")
    script(src="../pac-man/templates.js")
    script(src="../pac-man/movingObject.js")
    script(src="../pac-man/pacMan.js")
    script(src="../pac-man/ghost.js")
    script(src="../pac-man/switchZone.js")
    script(src="../pac-man/game.js")
    script(src="../presutils.js")
    script(src="../keyframe/keyframe.js")
    script(src="../transforms/transforms.js")
    script(src="../square/square.js")
    script(src="../toolBar.js")
    script(src="../canvas/canvas.js")
