html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css", type="text/css")
    body
       #background
            include square/_square
            include transitions/transitions
            //include transforms/transforms
       .task-bar
           .button(className="transitions") Quick Review
           .button(className="square") 3D Animate a cube
           //.button(className="transforms") Transforms
    script(src="../globals.js")
    script(src="../utils.js")
    script(src="../square/square.js")
    script(src="../toolBar.js")