#background {
  &.square {
    left: 0;
    top: 0;
  }

  &.transitions {
    left: -1450px;
    top: -1300px;
  }

  &.transforms {
    left: -2850px;
    top: -2880px;
  }

  &.keyframes {
    left: -2865px;
    top: -1740px;
  }

  &.pacman {
    left: -1445px;
    top: -2470px;
  }

  &.svgpos {
    left: -2885px;
    top: -4020px;
    background: cadetblue;
  }

  &.svganipos {
    left: -1495px;
    top: -4720px;
//    background: darkorange;
    background: peachpuff;
  }

  &.svg-attrpos {
    left: -2895px;
    top: -5220px;
    //    background: darkorange;
    background: beige;
  }

  &.canvaspos {
    left: -4365px;
    top: -1300px;
    background: aliceblue;
  }
}