
body {
  height: 776px;
  width: 1400px;
//  overflow: hidden;
  box-sizing: border-box;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}

#background {
  width: 30000px;
  height: 30000px;
  position: relative;
  transition: all 1s;
  left: 0;
}

.task-bar {
  @taskBarHeight: 75px;
  @taskBarPadding: 10px;
  @taskBarBorderCl: #ccc;
  background: #fff;
  border: 1px solid @taskBarBorderCl;
  padding: @taskBarPadding;
  position: fixed;
  bottom: 0;
  height: @taskBarHeight;
  left: 0;
  right: 0;
  .button {
    font-family: FreeSans;
    font-size: 15px;
    float: left;
    cursor: pointer;
    border: 1px solid @taskBarBorderCl;
    color: lightslategray;
    padding: 10px 10px 0 10px;
    height: @taskBarHeight - 15px;
    text-align: center;
    margin-right: @taskBarPadding;
    width: @taskBarHeight;
  }
}
@slideHeight: 700px;
.slide(@posLeft, @posTop) {
  position: relative;
  left: @posLeft;
  top: @posTop - 320px;
  width: 1440px;
  height: @slideHeight;
}

.text-block {
//  background: blueviolet;
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  color: #333;
  font-size: 17px;
  padding: 20px 10px 100px 50px;
  position: absolute;
  top: 0;
  right: 0;
  width: 55%;
  height: @slideHeight;
  overflow: scroll;
}

.indent {
  cursor: pointer;
  padding: 2px 0 2px 40px;
}

.double-indent {
  cursor: pointer;
  padding: 2px 0 2px 80px;
}

.tripple-indent {
  cursor: pointer;
  padding: 2px 0 2px 120px;
}

.highlight {
  background: lightgoldenrodyellow;
}

.header {
  font-size: 40px;
  padding: 20px 0;
}

.sub-heading {
  font-size: 25px;
}

.square {
  .slide(0px, 320px);
//  background: purple;
}

.sub-heading {

}

.transitions {
  .slide(1450px, 900px);
  background: #f2e8d5;
}

.transforms {
  .slide(2900px, 1800px);
  background: peachpuff;
}