.square #SCENE {
  width: 600px;
  height: 340px;
}
.square #SCENE.perspective {
  -webkit-perspective: 1000px;
}
.square #OBJECT {
  -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  -webkit-transition: -webkit-transform 1s ease-out;
  animation: switch;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 150px;
}
.square #OBJECT.preserve {
  -webkit-transform-style: preserve-3d;
}
.square #OBJECT.left {
  /*animation-delay: 3s;*/
}
.square .FACE {
  position: absolute;
  left: 165px;
  top: 15px;
  height: 200px;
  width: 200px;
  background: red;
}
.square .FACE.im1 {
  -webkit-transform: translateZ(150px);
  background: yellowgreen;
}
.square .FACE.im2 {
  -webkit-transform: translateZ(-150px);
}
.square .FACE.im3 {
  -webkit-transform: translateX(150px) rotateY(90deg);
  background: url('../assets/clintons.png');
  background-size: 200px 200px;
}
.square .FACE.im4 {
  -webkit-transform: translateX(-150px) rotateY(-90deg);
  background: greenyellow;
}
.square .FACE.im5 {
  -webkit-transform: translateY(150px) rotateX(90deg);
  background: green;
}
.square .FACE.im6 {
  -webkit-transform: translateY(-150px) rotateX(-90deg);
  background: aliceblue;
}
@keyframes switch {
  0% {
    -webkit-transform: rotateY(0deg);
  }
  20% {
    -webkit-transform: rotateX(45deg);
  }
  40% {
    -webkit-transform: rotateY(30deg) rotateX(-45deg);
  }
  100% {
    -webkit-transform: rotateY(-180deg);
  }
}
body {
  height: 776px;
  width: 1400px;
  box-sizing: border-box;
}
p {
  margin-top: 10px;
  margin-bottom: 10px;
}
#background {
  width: 30000px;
  height: 30000px;
  position: relative;
  transition: all 1s;
  left: 0;
}
.task-bar {
  background: #fff;
  border: 1px solid #cccccc;
  padding: 10px;
  position: fixed;
  bottom: 0;
  height: 75px;
  left: 0;
  right: 0;
}
.task-bar .button {
  font-family: FreeSans;
  font-size: 15px;
  float: left;
  cursor: pointer;
  border: 1px solid #cccccc;
  color: lightslategray;
  padding: 10px 10px 0 10px;
  height: 60px;
  text-align: center;
  margin-right: 10px;
  width: 75px;
}
.text-block {
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  color: #333;
  font-size: 17px;
  padding: 20px 10px 100px 50px;
  position: absolute;
  top: 0;
  right: 0;
  width: 55%;
  height: 700px;
  overflow: scroll;
}
.indent {
  cursor: pointer;
  padding: 2px 0 2px 40px;
}
.double-indent {
  cursor: pointer;
  padding: 2px 0 2px 80px;
}
.tripple-indent {
  cursor: pointer;
  padding: 2px 0 2px 120px;
}
.highlight {
  background: lightgoldenrodyellow;
}
.header {
  font-size: 40px;
  padding: 20px 0;
}
.sub-heading {
  font-size: 25px;
}
.square {
  position: relative;
  left: 0px;
  top: 0px;
  width: 1440px;
  height: 700px;
}
.transitions {
  position: relative;
  left: 1450px;
  top: 580px;
  width: 1440px;
  height: 700px;
  background: #f2e8d5;
}
.transforms {
  position: relative;
  left: 2900px;
  top: 1480px;
  width: 1440px;
  height: 700px;
  background: peachpuff;
}
.transitions .text-block {
  width: 100%;
}
.transitions .text-block > .header {
  color: darkgoldenrod;
}
.transitions .support {
  background: url('../assets/transition-support.png') center no-repeat;
  background-size: 1242px 622px;
  background-position-y: -155px;
  position: absolute;
  height: 352px;
  width: 1222px;
  left: 100px;
  top: 330px;
}
#background.square {
  left: 0;
  top: 0;
}
#background.transitions {
  left: -1450px;
  top: -1300px;
}
#background.transforms {
  left: -2850px;
  top: -2880px;
}
.transforms .text-block {
  width: 100%;
}
.transforms .rotateTrans {
  background: lightcoral;
}
.transforms .scaleTrans {
  background: lightblue;
}
.transforms .skewTrans {
  background: lightgoldenrodyellow;
}
.transforms .translateTrans {
  background: lightgrey;
}
.transforms .matrixTrans {
  background: lightsalmon;
}
.transforms .trans3D {
  color: darkslategray;
  background: #fff;
}
.transforms .scale3d {
  color: darkslategray;
  background: #fff;
}
.transforms .rotate3D {
  color: darkslategray;
  background: #fff;
}
.transforms #transform-object {
  background: whitesmoke;
  border: 2px solid #aaa;
  position: absolute;
  height: 450px;
  width: 500px;
  top: 140px;
  left: 723px;
  transition: all 1s;
}
.transforms .rotateTr {
  transform: rotate(45deg);
  content: 'rotete(45deg)';
}
.transforms .scaleTr {
  transform: scale(2);
}
.transforms .skewTr {
  transform: skew(25deg);
}
.transforms .transTr {
  transform: translate(-80px, -120px);
}
.transforms .matrixTr {
  transform: matrix(0.70710678, 0.70710678, -0.70710678, 0.70710678, -0.70710678, 34.64823228);
}
.transforms .trans3DTr {
  -webkit-transform: perspective(400) translate3d(-600px, -180px, -420px);
}
.transforms .scale3DTr {
  -webkit-transform: perspective(400) scake3d(0.5, 0.7, 2);
}
