.transforms
    .text-block
        .header Transforms
        p.indent.sub-heading 2D Transfoms:
        br
        p.double-indent.trans.rotateTrans(transform="rotateTr") rotate
        p.double-indent.trans.scaleTrans(transform="scaleTr") scale
        p.double-indent.trans.skewTrans(transform="skewTr") skew
        p.double-indent.trans.translateTrans(transform="transTr") translate
        p.double-indent.trans.matrixTrans(transform="matrixTr") matrix
        br
        br
        p.indent.sub-heading 3D Transfoms:
        p.indent Straight to the GPU!
        p.double-indent.trans.trans3D(transform="trans3DTr") translate3d
        p.double-indent.trans.scale3d(transform="scale3DTr") scale3d
        p.double-indent.trans.rotate3D(transform="rotate3DTr") rotate3d
    #transform-object